<%inherit file="base.html"/>

<!-- do the plotting -->
<%
import matplotlib.pyplot as plt
import numpy as np
import os.path
import string

def small_font(ax):
    '''Use small font so that subplots do not overwrite each other.'''
    for item in (
      [ax.title,
      ax.xaxis.label,
      ax.yaxis.label] +
      ax.get_xticklabels() +
      ax.get_yticklabels()):
        item.set_fontsize(8)
    return

stage = context['stage']
component = context['component']
baswav = context['subcomponent']

model = context['data'][stage][component][baswav]

fig = plt.figure()

# Ex amplitude
ax = fig.add_subplot(2, 3, 1)

plt.imshow(model['ex'].data.real, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ex'].axes[0].data[0],
  model['ex'].axes[0].data[-1], model['ex'].axes[1].data[0],
  model['ex'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ex'].axes[0].title)
ax.set_ylabel(model['ex'].axes[1].title)
ax.set_title('Real %s' % model['ex'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# Ex phase
ax = fig.add_subplot(2, 3, 4)

plt.imshow(model['ex'].data.imag, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ex'].axes[0].data[0],
  model['ex'].axes[0].data[-1], model['ex'].axes[1].data[0],
  model['ex'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ex'].axes[0].title)
ax.set_ylabel(model['ex'].axes[1].title)
ax.set_title('Imag %s' % model['ex'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# Ey amplitude
ax = fig.add_subplot(2, 3, 2)

plt.imshow(model['ey'].data.real, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ey'].axes[0].data[0],
  model['ey'].axes[0].data[-1], model['ey'].axes[1].data[0],
  model['ey'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ey'].axes[0].title)
ax.set_ylabel(model['ey'].axes[1].title)
ax.set_title('Real %s' % model['ey'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# Ey phase
ax = fig.add_subplot(2, 3, 5)

plt.imshow(model['ey'].data.imag, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ey'].axes[0].data[0],
  model['ey'].axes[0].data[-1], model['ey'].axes[1].data[0],
  model['ey'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ey'].axes[0].title)
ax.set_ylabel(model['ey'].axes[1].title)
ax.set_title('Imag %s' % model['ey'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# Ez amplitude
ax = fig.add_subplot(2, 3, 3)

plt.imshow(model['ez'].data.real, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ez'].axes[0].data[0],
  model['ez'].axes[0].data[-1], model['ez'].axes[1].data[0],
  model['ez'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ez'].axes[0].title)
ax.set_ylabel(model['ez'].axes[1].title)
ax.set_title('Real %s' % model['ez'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# Ez phase
ax = fig.add_subplot(2, 3, 6)

plt.imshow(model['ez'].data.imag, interpolation='nearest',
  origin='lower', aspect='equal', 
  extent=[model['ez'].axes[0].data[0],
  model['ez'].axes[0].data[-1], model['ez'].axes[1].data[0],
  model['ez'].axes[1].data[-1]])
plt.axis('image')

cbar = plt.colorbar(orientation='vertical', shrink=0.7)
ax.set_xlabel(model['ez'].axes[0].title)
ax.set_ylabel(model['ez'].axes[1].title)
ax.set_title('Imag %s' % model['ez'].title)
small_font(ax)
cbar.ax.tick_params(labelsize=8)

# adjust subplot spacing to remove overlaps
plt.tight_layout()

filename = '%s_%s_%s.png' % (component, baswav[0], baswav[1])
filename = filename.replace(' ', '_')
plt.savefig(os.path.join(context['dirname'], filename))
plt.close()
%>

<!-- link to the plot from html -->

<%
temp = component.replace(' ', '_')
%>
<img src='${temp}_${baswav[0]}_${baswav[1]}.png' alt="The primary illumination should appear here">

