<%inherit file="base.html"/>

<!-- Template for production of 'timeline' weblog' -->

<!-- do the plotting -->
<%
import os.path
import numpy as np
import collections
import common.commonobjects as co

# Get the timeline data from mako context
timeline = context['data']['timeline']
times = timeline['obs_timeline'].keys()
times.sort()

# Construct a dict holding lists of configurations for each
# scan number observed
scan_configs = collections.defaultdict(list)

for t in times:
    config = timeline['obs_timeline'][t]
    scan_number = config.scan_number
    scan_configs[scan_number].append(config)

# plot every 100th scan
scan_numbers = [scan_number for scan_number in
  scan_configs.keys() if scan_number%100==0]
scan_numbers.sort()      

# for each scan construct a set of data objects for each 
# configuration element 
scans = {}
scans_error = {}
scans_pointing1_x = {}
scans_pointing1_y = {}
scans_pointing2_x = {}
scans_pointing2_y = {}
scans_data = {}

for scan_number in scan_numbers:
    obs_time = []
    smec_position = []
    smec_nominal_position = []
    smec_vel_error = []
    flag = []
    pointing1_x = []
    pointing1_y = []
    pointing2_x = []
    pointing2_y = []
    data = []    
    
    for config in scan_configs[scan_number]:
        obs_time.append(config.time)
        smec_position.append(config.smec_position)
        smec_nominal_position.append(config.smec_nominal_position)
        smec_vel_error.append(config.smec_vel_error)
        flag.append(config.flag)
        pointing1_x.append(config.pointing1_x)
        pointing1_y.append(config.pointing1_y)
        pointing2_x.append(config.pointing2_x)
        pointing2_y.append(config.pointing2_y)
        data.append(config.data)

    # Construct objects to be plotted
    axis = co.Axis(data=np.array(obs_time),
      title='Time', units='s')

    scan = co.Spectrum(data=np.array(smec_position) * 100.0,
      flag=np.array(flag), 
      axis=axis, title='position', units='cm')
    scans[scan_number] = scan

    scan = co.Spectrum(
      data=np.array(smec_vel_error) * 1.0e6,
      flag=np.array(flag), 
      axis=axis, title='vel error', units='um/s')
    scans_error[scan_number] = scan

    scan = co.Spectrum(data=np.array(pointing1_x), 
      axis=axis, title='collector 1 x offset', units='arcsec')
    scans_pointing1_x[scan_number] = scan

    scan = co.Spectrum(data=np.array(pointing1_y), 
      axis=axis, title='collector 1 y offset', units='arcsec')
    scans_pointing1_y[scan_number] = scan

    scan = co.Spectrum(data=np.array(pointing2_x), 
      axis=axis, title='collector 2 x offset', units='arcsec')
    scans_pointing2_x[scan_number] = scan

    scan = co.Spectrum(data=np.array(pointing2_y), 
      axis=axis, title='collector 2 y offset', units='arcsec')
    scans_pointing2_y[scan_number] = scan

    scan = co.Spectrum(data=np.array(data), 
      flag=np.array(flag), 
      axis=axis, title='data', units='')
    scans_data[scan_number] = scan

scan_link = {}

# plot the data objects for each scan
for scan_number in scan_numbers:

    # construct a page with the plot
    root = 'scan_config_%s' % (scan_number)

    htmlfile = '%s.html' % root
    scan_link[scan_number] = htmlfile
    link = os.path.join(context['dirname'], htmlfile)
    with open(link, 'w') as f:
        template = mylookup.get_template('scan.html')
        context_copy = context.kwargs
        context_copy['sourceid'] = root
        context_copy['scan_number'] = scan_number
        context_copy['smec'] = scans[scan_number]
        context_copy['smec_vel_error'] = scans_error[scan_number]
        context_copy['pointing1_x'] = scans_pointing1_x[scan_number]
        context_copy['pointing1_y'] = scans_pointing1_y[scan_number]
        context_copy['pointing2_x'] = scans_pointing2_x[scan_number]
        context_copy['pointing2_y'] = scans_pointing2_y[scan_number]
        context_copy['interferogram'] = scans_data[scan_number]
        f.write(template.render(**context_copy))
%>

<!-- write html links -->

<h3>Scan Configuration Sequences</h3>
% for scan_number in scan_link.keys():
<div class="col-xs-6 col-md-3">
  <%
  plotname = scan_link[scan_number].replace('html', 'png')
  %>
  <a href="${scan_link[scan_number]}" class="thumbnail">
    <img src="${plotname}" alt="...">
  </a>
</div>
% endfor

