<%inherit file="base.html"/>

<%
import collections
import matplotlib.pyplot as plt
import os.path

mylookup = context['mylookup']
beamsgenerator = context['data']['primarybeams']
%>

<h2>Beam Generation Parameters</h2>

<div class="row-fluid">
  <table class="table table-condensed">
    <tbody>
    % for k,v in beamsgenerator.items():
        <!-- don't render complicated objects-->
        % if not isinstance(v, collections.Iterable):
        <tr>
          <td>${k}</td>
          <td>${v}</td>
        </tr>
        % endif
    % endfor
    </tbody>
  </table>
<div>

<%
# construct html pages with primary beam plots
baselines = beamsgenerator['primary intensity beam'].keys()
wavenumbers = beamsgenerator['primary intensity beam'][baselines[0]].axes[2].data

for baseline in baselines:
    for wn in wavenumbers:
        link = os.path.join(context['dirname'],
          'primary_amplitude_beam_%s_%s.html' % (baseline, wn))
        with open(link, 'w') as f:
            template = mylookup.get_template('beamplot.html')
            context_copy = context.kwargs
            context_copy['stage'] = 'primarybeams'
            context_copy['component'] = 'primary amplitude beam'
            context_copy['subcomponent'] = baseline
            context_copy['wn'] = wn
            f.write(template.render(**context_copy))

# construct html pages with model E field plots
model_grid = beamsgenerator['primary illumination']

# organise the model grid so that thumbnails are grouped 
# together per wavelength and ranked in increasing baseline
# within that
plot_grid = model_grid.keys()
plot_grid = sorted(plot_grid, cmp=lambda x,y: cmp(x[::-1], y[::-1]))

for baseline, lamb in plot_grid:
    wn = 1 / (lamb * 1.e-4)
    link = os.path.join(context['dirname'],
      'primary_illumination%s_%s.html' % (baseline, lamb))
    with open(link, 'w') as f:
        template = mylookup.get_template('illumination.html')
        context_copy = context.kwargs
        context_copy['stage'] = 'primarybeams'
        context_copy['component'] = 'primary illumination'
        context_copy['subcomponent'] = (baseline,lamb) 
        f.write(template.render(**context_copy))
%>

<!-- link to the plot pages from this page -->

<h3>Primary Beams</h3>
<div class="row">
% for wn in wavenumbers:
    <% 
    wnformatted = '%6.4gcm-1' % wn 
    %>
    % for baseline in baselines:
  <div class="col-xs-6 col-md-3">
    <a href="primary_amplitude_beam_${baseline}_${wn}.html" class="thumbnail">
      <img src="primary_amplitude_beam_${baseline}_${wn}.png" alt="...">
      <div>
        <h4>${baseline} ${wnformatted}</h4>
      </div>
    </a>
  </div>
    % endfor
% endfor
</div>

<h3>Primary Illumination</h3>
<div class="row">
% for baseline, lamb in plot_grid:
  <div class="col-xs-6 col-md-3">
    <a href="primary_illumination${baseline}_${lamb}.html" class="thumbnail">
      <img src="primary_illumination${baseline}_${lamb}.png" alt="...">
      <div>
        <h4>${baseline} ${lamb}</h4>
      </div>
    </a>
  </div>
% endfor
</div>
