<%inherit file="base.html"/>

<%
import collections
import matplotlib.pyplot as plt
import os.path

mylookup = context['mylookup']
beamsgenerator = context['data']['primarybeams']
%>

<h2>Beam Generation Parameters</h2>

<div class="row-fluid">
  <table class="table table-condensed">
    <tbody>
    % for k,v in beamsgenerator.items():
        <!-- don't render complicated objects-->
        % if not isinstance(v, collections.Iterable):
        <tr>
          <td>${k}</td>
          <td>${v}</td>
        </tr>
        % endif
    % endfor
    </tbody>
  </table>
<div>

<%
# construct html pages with primary beam plots for collector 1.
baselines_1 = beamsgenerator['collector 1 intensity beam'].keys()
wavenumbers_1 = beamsgenerator['collector 1 intensity beam'][baselines_1[0]].axes[2].data

for baseline in baselines_1:
    for wn in wavenumbers_1:
        link = os.path.join(context['dirname'],
          'collector_1_amplitude_beam_%s_%s.html' % (baseline, wn))
        with open(link, 'w') as f:
            template = mylookup.get_template('beamplot.html')
            context_copy = context.kwargs
            context_copy['stage'] = 'primarybeams'
            context_copy['component'] = 'collector 1 amplitude beam'
            context_copy['subcomponent'] = baseline
            context_copy['wn'] = wn
            f.write(template.render(**context_copy))

# construct html pages with model E field plots
model_grid = beamsgenerator['collector 1 primary illumination']

# organise the model grid so that thumbnails are grouped 
# together per wavelength and ranked in increasing baseline
# within that
plot_grid_1 = model_grid.keys()
plot_grid_1 = sorted(plot_grid_1, cmp=lambda x,y: cmp(x[::-1], y[::-1]))

for baseline, lamb in plot_grid_1:
    wn = 1 / (lamb * 1.e-4)
    link = os.path.join(context['dirname'],
      'collector_1_primary_illumination_%s_%s.html' % (baseline, lamb))
    with open(link, 'w') as f:
        template = mylookup.get_template('illumination.html')
        context_copy = context.kwargs
        context_copy['stage'] = 'primarybeams'
        context_copy['component'] = 'collector 1 primary illumination'
        context_copy['subcomponent'] = (baseline,lamb) 
        f.write(template.render(**context_copy))

# construct html pages with primary beam plots for collector 2.
baselines_2 = beamsgenerator['collector 2 intensity beam'].keys()
wavenumbers_2 = beamsgenerator['collector 2 intensity beam'][baselines_2[0]].axes[2].data

for baseline in baselines_2:
    for wn in wavenumbers_2:
        link = os.path.join(context['dirname'],
          'collector_2_amplitude_beam_%s_%s.html' % (baseline, wn))
        with open(link, 'w') as f:
            template = mylookup.get_template('beamplot.html')
            context_copy = context.kwargs
            context_copy['stage'] = 'primarybeams'
            context_copy['component'] = 'collector 2 amplitude beam'
            context_copy['subcomponent'] = baseline
            context_copy['wn'] = wn
            f.write(template.render(**context_copy))

# construct html pages with model E field plots
model_grid = beamsgenerator['collector 2 primary illumination']

# organise the model grid so that thumbnails are grouped 
# together per wavelength and ranked in increasing baseline
# within that
plot_grid_2 = model_grid.keys()
plot_grid_2 = sorted(plot_grid_2, cmp=lambda x,y: cmp(x[::-1], y[::-1]))

for baseline, lamb in plot_grid_2:
    wn = 1 / (lamb * 1.e-4)
    link = os.path.join(context['dirname'],
      'collector_2_primary_illumination_%s_%s.html' % (baseline, lamb))
    with open(link, 'w') as f:
        template = mylookup.get_template('illumination.html')
        context_copy = context.kwargs
        context_copy['stage'] = 'primarybeams'
        context_copy['component'] = 'collector 2 primary illumination'
        context_copy['subcomponent'] = (baseline,lamb) 
        f.write(template.render(**context_copy))
%>

<!-- link to the plot pages from this page -->

<h3>Collector 1 Primary Illumination</h3>
<div class="row">
% for baseline, lamb in plot_grid_1:
  <div class="col-xs-6 col-md-3">
    <a href="collector_1_primary_illumination_${baseline}_${lamb}.html" class="thumbnail">
      <img src="collector_1_primary_illumination_${baseline}_${lamb}.png" alt="...">
      <div>
        <h4>${baseline} ${lamb}</h4>
      </div>
    </a>
  </div>
% endfor
</div>

<h3>Collector 2 Primary Illumination</h3>
<div class="row">
% for baseline, lamb in plot_grid_2:
  <div class="col-xs-6 col-md-3">
    <a href="collector_2_primary_illumination_${baseline}_${lamb}.html" class="thumbnail">
      <img src="collector_2_primary_illumination_${baseline}_${lamb}.png" alt="...">
      <div>
        <h4>${baseline} ${lamb}</h4>
      </div>
    </a>
  </div>
% endfor
</div>

<h3>Collector 1 Primary Beams</h3>
<div class="row">
% for wn in wavenumbers_1:
    <% 
    wnformatted = '%6.4gcm-1' % wn 
    %>
    % for baseline in baselines_1:
  <div class="col-xs-6 col-md-3">
    <a href="collector_1_amplitude_beam_${baseline}_${wn}.html" class="thumbnail">
      <img src="collector_1_amplitude_beam_${baseline}_${wn}.png" alt="...">
      <div>
        <h4>${baseline} ${wnformatted}</h4>
      </div>
    </a>
  </div>
    % endfor
% endfor
</div>

<h3>Collector 2 Primary Beams</h3>
<div class="row">
% for wn in wavenumbers_2:
    <% 
    wnformatted = '%6.4gcm-1' % wn 
    %>
    % for baseline in baselines_2:
  <div class="col-xs-6 col-md-3">
    <a href="collector_2_amplitude_beam_${baseline}_${wn}.html" class="thumbnail">
      <img src="collector_2_amplitude_beam_${baseline}_${wn}.png" alt="...">
      <div>
        <h4>${baseline} ${wnformatted}</h4>
      </div>
    </a>
  </div>
    % endfor
% endfor
</div>
