<%inherit file="base.html"/>
<%
import types
import numpy as np
%>

    <div class="row-fluid">
      <table class="table table-condensed" summary="FITS Information">
        <tbody>
          <%
          writefits = context['data']['readfits']
          %>
          % for k,v in writefits.items():
              <tr>
                <td>${k}</td>
              % if type(v) == types.DictType:
                <td>dict not rendered</td>
              % elif type(v) == types.ListType:
                <td>list not rendered</td>
              % elif type(v) == np.ndarray:
                <td>numpy array not rendered</td>
              % else:
                <td>${v}</td>
              % endif
              </tr>
          % endfor
        </tbody>
      </table>
    <div>

