<%inherit file="base.html"/>

<!-- do the plotting -->
<%
import os.path
import numpy as np
import common.commonobjects as co

scan_interferograms = context['data']['reduceinterferogram']['scan_interferograms']
scan_uvspectra = context['data']['reduceinterferogram']['scan_uvspectra']

baseline_link = {}

# plot every 100th scan
scan_numbers = [scan_number for scan_number in
  scan_interferograms.keys() if scan_number%100==0]
scan_numbers.sort()

for scan in scan_numbers:

    # construct a page with the plot
    id = 'reduceint_%s' % scan
    baseline_link[scan] = id
    filename = '%s.html' % id
    link = os.path.join(context['dirname'], filename)
    with open(link, 'w') as f:
        template = mylookup.get_template('scans.html')
        context_copy = context.kwargs
        context_copy['scan'] = scan
        context_copy['id'] = id
        context_copy['interferogram'] = scan_interferograms[scan]
        context_copy['mean'] = None
        context_copy['uvspectrum'] = scan_uvspectra[scan]
        f.write(template.render(**context_copy))
%>

<h3>Baseline Spectra</h3>
<%
baseline_keys = baseline_link.keys()
baseline_keys.sort()
%>
% for baseline in baseline_keys:
<div class="col-xs-6 col-md-3">
  <a href="${baseline_link[baseline]}.png" class="thumbnail">
    <img src="${baseline_link[baseline]}.png" alt="...">
  </a>
</div>
% endfor
