<%inherit file="base.html"/>

<!-- do the plotting -->
<%
import matplotlib as mpl
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import os.path
import numpy as np

def small_font(ax):
    '''Use small font so that subplots do not overwrite each other.'''
    for item in (
      [ax.title,
      ax.xaxis.label,
      ax.yaxis.label] +
      ax.get_xticklabels() +
      ax.get_yticklabels()):
        item.set_fontsize(8)
    return

id = context['id']
scan = context['scan']
scan_interferogram = context['interferogram']
uvspectrum = context['uvspectrum']

mult = 1.0

fig = plt.figure()
plt.figtext(0.0, 0.0, 'scan %s' % scan)

# plot the separate scans 
ax = fig.add_subplot(2, 2, 1)
ax.set_title('Scan interferograms')

try:
    xaxis_data = scan_interferogram.axis.data
except:
    xaxis_data = np.arange(len(scan_interferogram.data))

# sometimes xaxis is not monotonic
xaxis_sort = np.argsort(xaxis_data)

try:
    xaxis_title = scan_interferogram.axis.title
except:
    xaxis_title = None

try:
    xaxis_units = scan_interferogram.axis.units
except:
    xaxis_units = None

ax.plot(xaxis_data[xaxis_sort], mult * scan_interferogram.data[xaxis_sort])
mult *= 1.1

xlabel = ' '.join([v for v in [xaxis_title, xaxis_units] if v is not None])
ax.set_xlabel(xlabel)

# Use small font so that subplots do not overwrite each other
small_font(ax)

# plot the telescope baseline track during the FTS scan
ax = fig.add_subplot(2, 2, 2, projection='3d')
ax.set_title('Baseline Track')

baseline_x = uvspectrum.baseline_x
baseline_y = uvspectrum.baseline_y
baseline_z = uvspectrum.baseline_z

# plot uv track during scan, with ball at terminal
ax.plot(baseline_x, baseline_y, baseline_z, 'k-')
ax.plot(baseline_x[-1:], baseline_y[-1:], baseline_z[-1:], 'ko')

# plot projections of track onto 2d planes, makes it easier
# to understand
lims = ax.get_xlim3d()
baseline_x_min = np.array(baseline_x)
baseline_x_min[:] = lims[0]
ax.plot(baseline_x_min, baseline_y, baseline_z, 'r--')
lims = ax.get_ylim3d()
baseline_y_min = np.array(baseline_y)
baseline_y_min[:] = lims[0]
ax.plot(baseline_x, baseline_y_min, baseline_z, 'r--')
lims = ax.get_zlim3d()
baseline_z_min = np.array(baseline_z)
baseline_z_min[:] = lims[0]
ax.plot(baseline_x, baseline_y, baseline_z_min, 'r--')

ax.set_xlabel('baseline x (m)')
ax.set_ylabel('baseline y (m)')
ax.set_zlabel('baseline z (m)')
small_font(ax)
ax.zaxis.label.set_fontsize(8)
for item in ax.get_zticklabels():
    item.set_fontsize(8)

# plot the shifted interferogram
ax = fig.add_subplot(2, 2, 3)
ax.set_title('Shifted interferograms')

spectrum = uvspectrum.interferogram

try:
    xaxis_data = spectrum.axis.data
except:
    xaxis_data = np.arange(len(spectrum))
xaxis_sort = np.argsort(xaxis_data)
try:
    xaxis_title = spectrum.axis.title
except:
    xaxis_title = None
try:
    xaxis_units = spectrum.axis.units
except:
    xaxis_units = None

ax.plot(xaxis_data[xaxis_sort], spectrum[xaxis_sort])
xlabel = ' '.join([v for v in [xaxis_title, xaxis_units] if v is not None])
ax.set_xlabel(xlabel)
small_font(ax)

# plot the spectrum
ax = fig.add_subplot(2, 2, 4)
ax.set_title('Visibility Spectrum')

try:
    xaxis_data = uvspectrum.wavenumber[uvspectrum.wavenumber >= 0]
    xaxis_title = 'wavenumber'
    xaxis_units = 'cm-1'
except:
    xaxis_data = np.arange(len(spectrum))
    xaxis_title = 'index'
    xaxis_units = ''
xaxis_sort = np.argsort(xaxis_data)

spectrum = uvspectrum.spectrum[uvspectrum.wavenumber >= 0]

ax.plot(xaxis_data[xaxis_sort], spectrum.real[xaxis_sort], 'b-')
ax.plot(xaxis_data[xaxis_sort], spectrum.imag[xaxis_sort], 'r-')
ax.annotate('real', (0.9,0.15), xycoords='figure fraction', color='b')
ax.annotate('imag', (0.9,0.12), xycoords='figure fraction', color='r')
xlabel = ' '.join([v for v in [xaxis_title, xaxis_units] if v is not None])
ax.set_xlabel(xlabel)
small_font(ax)

# adjust subplot spacing to remove overlaps
plt.tight_layout()

plt.savefig(os.path.join(context['dirname'], '%s.png' % id))
plt.close()
%>

<!-- link to the plot from html -->

<img src="${id}.png' alt="Source spectrum">
