<%inherit file="base.html"/>

<!-- do the plotting -->
<%
import os.path
import numpy as np
import common.commonobjects as co

uvspectra = context['data']['uvspectra']['uvspectra']

data = []
flag = []
opd = []

baseline_link = {}

for uvspectrum in uvspectra:
    # construct Spectrum object
    axis = co.Axis(data=np.array(uvspectrum.wavenumber),
    title='wavenumber', units='cm-1')
    scan = co.Spectrum(data=uvspectrum.spectrum,
    axis=axis, title='Spectrum',
    units='W sr-1 m-2 Hz-1')

            # construct a page with the plot
    baseline = (uvspectrum.baseline_x, uvspectrum.baseline_y)
    filename = 'uvspectrum_%s_%s.html' % baseline
    filename = filename.replace('-', 'm')
    baseline_link[baseline] = filename
    link = os.path.join(context['dirname'], filename)
    with open(link, 'w') as f:
        template = mylookup.get_template('sourcespectrum.html')
        context_copy = context.kwargs
        context_copy['sourceid'] = '_%s_%s_spectrum' % (baseline)
        context_copy['spectrum'] = scan
        f.write(template.render(**context_copy))
%>

<h3>Baseline Spectra</h3>
% for baseline in baseline_link.keys():
<div class="col-xs-6 col-md-3">
  <a href="${baseline_link[baseline]}" class="thumbnail">
    <img src="sourcespectrum_${baseline[0]}_${baseline[1]}_spectrum.png" alt="...">
  </a>
</div>
% endfor
